# PLUGIN: https://github.com/fredZen/asdf-babashka
# RELEASES: https://github.com/babashka/babashka/releases
babashka 1.3.189

# PLUGIN: https://github.com/rynkowsg/asdf-clj-kondo
# RELEASES: https://github.com/clj-kondo/clj-kondo/releases
clj-kondo 2024.03.13

# PLUGIN: https://github.com/halcyon/asdf-clojure
# RELEASES: https://github.com/clojure/brew-install/releases
clojure 1.11.2.1446

# PLUGIN: https://github.com/asdf-community/asdf-graalvm
# RELEASES: https://www.graalvm.org/release-notes
graalvm 22.3.3-java11

# PLUGIN: https://github.com/halcyon/asdf-java
# RELEASES: https://github.com/corretto/corretto-19/releases
# CHANGELOG: https://github.com/corretto/corretto-19/blob/develop/CHANGELOG.md
java openjdk-11.0.2

# PLUGIN: https://github.com/miorimmax/asdf-lein
# RELEASES: https://codeberg.org/leiningen/leiningen/src/branch/main/NEWS.md
lein 2.11.2
